
.Home {
    margin: auto;
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #fc3;
  }

  .inventoryselector{
    margin-left: 10px;
    margin-right: 10px;
  }
  .calendar-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    padding-top: 10px;
    }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
  }
  
  .calendar-prev,
  .calendar-next,
  .calendar-current {
    cursor: pointer;
  }
  
  .calendar-days {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
  }
  
  .calendar-day {
    width: calc((100% / 7) - 2%);
    padding: 0.5% 1%;
    background-color: #eaeaea;
  }
  
  .calendar-cells {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
  }
  
  .calendar-cell {
    width: calc((100% / 7) - 2%);
    height: 0;
    padding: 1%;
    padding-bottom: calc((60% / 7) - 2%);
    -webkit-box-shadow:inset 0px 0px 0px 1px rgb(0, 0, 0);
    -moz-box-shadow:inset 0px 0px 0px 1px rgb(0, 0, 0);;
    box-shadow:inset 0px 0px 0px 1px rgb(0, 0, 0);;
  }
  
  .calendar-cell-date{
    font-weight: bold;
    font-size: 14;
  }
  
  .calendar-hours{
    font-weight: normal;
    font-size: 12;
  }
  
  .calendar-cell--disabled {
    opacity: 0.5;
    background-color: #e0e0e0;
  }
  
  .calendar-cell--selected {
    opacity: 0.5;
    background-color: #eaeaea;
  }

  .calendar-cell--reserved-by-me {
    background-color: #7491f0;
  }
  
  .calendar-cell--reserved-by-oks {
    background-color: #ff6680;
  }

  .calendar-cell__date {
    margin-bottom: 5px;
  }
  .calendar-explanations {
    display: flex;
    height:30px;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
  .calendar-explanation {
    height: 20px;
    width: calc((100% / 3) - 2%);
    border-radius: 2px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
  }
  .reserved-by-me {
    background-color: #7491f0;
  }
  .reserved-by-oks{
    background-color: #ff6680;

  }
  .no-reservations{
    background-color: #eaeaea;
  }

  .itemselectionNotifier {
    display: flex;
    height:30px;
    flex-flow: column wrap;
  }

  .arrow{
    background-color:transparent;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
  }

  @media only screen and (max-width: 768px) {
    .calendar-wrapper{
      display: block;
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      padding-top: 10px;
      }
  }
